Package: liberty-eiffel-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liberty-eiffel-core-libs (= #VERSION#), gcc, libgc1c2 (>= 7.2)
Recommends: libgc-dev
Suggests: liberty-eiffel-tools-src (= #VERSION#), emacs
Description: The Liberty Eiffel tools
 Liberty Eiffel is the proud successor of SmartEiffel, also formerly
 known as the GNU Eiffel compiler.
 Since the original maintainer lost interest, and the community has to
 be rebuilt with a new purpose, the name was also changed.
 Note that the name "Liberty" was chosen as a not-so-subtle allusion to
 the Liberty Tower, whose innards were designed by Gustave Eiffel, the
 French engineer.
 This package provides the core tools: compiler, pretty printer,
 documenter, tester, and so on.
