## Ignore backups
*~
*.back
*.bak
*.swp
## Ignore object files
*.[oa]
a.out
## Ignore logs of any kind
*.log
## Ignore tags
tags
TAGS
## Ignore install files
target
## Ignore GCC-XML wrapper-generator files
*.gcc-xml
*.gccxml
