Source: libertyeiffel
Section: devel
Priority: extra
Maintainer: Cyril Adrian <cyril.adrian@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://liberty-eiffel.blogspot.com/


Package: libertyeiffel-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libertyeiffel-core-libs, gcc
Recommends: libertyeiffel-extra-libs
Suggests: libertyeiffel-tools-src
Description: The Liberty Eiffel tools
 Liberty Eiffel is the proud successor of SmartEiffel, also formerly
 known as the GNU Eiffel compiler.
 Since the original maintainer lost interest, and the community has to
 be rebuilt with a new purpose, the name was also changed.
 Note that the name "Liberty" was chosen as a not-so-subtle to the
 Liberty Tower, which innards were designed by Gustave Eiffel, the
 French engineer.
 This package provides the core tools: compiler, pretty printer,
 documenter, tester, and so on.


Package: libertyeiffel-tools-src
Architecture: all
Recommends: libertyeiffel-tools
Description: The Liberty Eiffel tools source
 Liberty Eiffel is the proud successor of SmartEiffel, also formerly
 known as the GNU Eiffel compiler.
 Since the original maintainer lost interest, and the community has to
 be rebuilt with a new purpose, the name was also changed.
 Note that the name "Liberty" was chosen as a not-so-subtle to the
 Liberty Tower, which innards were designed by Gustave Eiffel, the
 French engineer.
 This package provides the Eiffel source of the Liberty Eiffel tools.


Package: libertyeiffel-tools-doc
Architecture: all
Recommends: libertyeiffel-tools
Description: The Liberty Eiffel tools source
 Liberty Eiffel is the proud successor of SmartEiffel, also formerly
 known as the GNU Eiffel compiler.
 Since the original maintainer lost interest, and the community has to
 be rebuilt with a new purpose, the name was also changed.
 Note that the name "Liberty" was chosen as a not-so-subtle to the
 Liberty Tower, which innards were designed by Gustave Eiffel, the
 French engineer.
 This package provides the documentation for the Liberty Eiffel tools
 classes.


Package: libertyeiffel-core-libs
Architecture: all
Recommends: libertyeiffel-tools
Description: documentation for libertyeiffel
 Liberty Eiffel is the proud successor of SmartEiffel, also formerly
 known as the GNU Eiffel compiler.
 Since the original maintainer lost interest, and the community has to
 be rebuilt with a new purpose, the name was also changed.
 Note that the name "Liberty" was chosen as a not-so-subtle to the
 Liberty Tower, which innards were designed by Gustave Eiffel, the
 French engineer.
 This package provides the core libraries needed to compile event the
 most simple program.


Package: libertyeiffel-core-doc
Architecture: all
Recommends: libertyeiffel-tools, libertyeiffel-core-libs
Description: documentation for libertyeiffel
 Liberty Eiffel is the proud successor of SmartEiffel, also formerly
 known as the GNU Eiffel compiler.
 Since the original maintainer lost interest, and the community has to
 be rebuilt with a new purpose, the name was also changed.
 Note that the name "Liberty" was chosen as a not-so-subtle to the
 Liberty Tower, which innards were designed by Gustave Eiffel, the
 French engineer.
 This package provides the documentation for the core libraries
 classes.
