cluster LIBERTY_CODE

version "1.0"

locations
	"."
	"assertions"
	"builders"
	"entities"
	"expressions"
	"feature_local_context"
	"features"
	"instructions"
	"visitors"

needs
	KERNEL
	LIBERTY_SYNTAX
	LIBERTY_TYPES

end
