@font-face {
font-family: 'Linux Biolinum';
local: 'Linux Biolinum';
src: url('fonts/LinBiolinum_R.woff ') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Linux Biolinum';
local: 'Linux Biolinum';
src: url('fonts/LinBiolinum_RB.woff ') format('woff');
font-weight: bold;
font-style: normal;
}

html {
    height: 100%;
}
body {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right 2em;
    background-color: #fafbeb;
    font-family: 'Linux Biolinum',Verdana,Helvetica;
}
* {
    margin: 0;
}
p, h1 {
    padding-bottom: 10px;
}
.header {
    background-color: #5ab0a1;
    padding: 4px 4px 4px 4px;
}
h1 {
    margin: 25px 0px 10px;
    color: #0d0d6a;
    font-size: 150%;
    font-family: "Linux Biolinum",Verdana,Helvetica;
    font-variant: small-caps;
}
.dropcap {
    color: #b51c39;
    display: inline;
    position: relative;
    top: 3px;
    font-size: 150%;
}
a {
    color: #0d0d6a;
    text-decoration: none;
}
a:visited {
    color: #0d0d6a;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: #b51c39;
    text-decoration: underline;
}
.current {
    color: #0d0d6a;
}
#all {
    position: relative;
    min-height: 100%;
}
#footer {
    padding: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 1.5em;
    text-align: center;
    font-size: 80%;
}
#content {
    padding: 1em 1em 2.5em 1em;
}
