cluster LIBERTY_TOOLS

version "1.0"

locations
	"."
	"main"
	"errors"
	"statue"

needs
	LIBERTY_LIBRARY (version >= "1.0")
	LIBERTY_CONFIGURATION
	LIBERTY_SYNTAX
	LIBERTY_SEMANTICS
	LIBERTY_INTERPRETER
	LIBERTY_WRAPPERS_GENERATOR

cluster
	LIBERTY_CONFIGURATION: "configuration"
	LIBERTY_SYNTAX: "syntax"
	LIBERTY_SEMANTICS: "semantics"
	LIBERTY_INTERPRETER: "interpreter"
	LIBERTY_WRAPPERS_GENERATOR: "wrappers-generator"

end
